doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        title Vault Garden
        link(rel="stylesheet" href=require("../styles/theme/main.scss"))
        link(rel="stylesheet" href=require("../styles/site.sass"))
        link(rel="manifest" href=require("../media/manifest.json"))
        link(rel="apple-touch-icon-precomposed" href=require("../media/images/favicon/apple-touch-icon.png"))
        link(rel="icon" type="image/png" sizes="512x512" href=require("../media/images/favicon/favicon-512x512.png"))
        link(rel="icon" type="image/png" sizes="152x152" href=require("../media/images/favicon/favicon-152x152.png"))
        link(rel="icon" href=require("../media/images/favicon/favicon.ico"))
        noscript
            link(rel="stylesheet" href=require("../styles/theme/noscript.scss"))
        block head
    body

        section#sidebar
            .inner
                nav
                    ul
                        li
                            a(href="#intro") Welcome
                        li
                            a(href="#one") Who we are
                        li
                            a(href="#two") What we do
                        li
                            a(href="#three") Get in touch

        #wrapper
            // Intro
            section#intro.wrapper.style1.fullscreen.fade-up
                .inner
                    h1 Vault Garden
                    p
                        | The comprehensive web platform development consultancy.
                        | We build highly scalable and secure systems
                        | for everything from the desktop to the cloud.
                    ul.actions
                        li
                            a.button.scrolly(href="#one") Learn more
            // One
            section#one.wrapper.style2.spotlights
                section
                    a.image(href="#" class="img-a-buttercup")
                        //- img(src=require("../media/images/buttercup-512.jpg") alt="" data-position="center center")
                    .content
                        .inner
                            h2 Password Management
                            p
                                strong Buttercup&nbsp;
                                | is a free, open-source and cross-platform Password Manager available for download on your device.
                            ul.actions
                                li
                                    a.button(href="https://buttercup.pw" target="_blank") Buttercup.pw
                section
                    a.image(href="#" class="img-a-infrastructure")
                        //- img(src=require("../media/images/infrastructure.jpg") alt="" data-position="top center")
                    .content
                        .inner
                            h2 Cloud Infrastructure and Services
                            p
                                | We build high-quality, scalable and maintainable cloud services for all workloads.
                                | Not only that, we can also build the surrounding infrastructure on any cloud provider.
                            ul.actions
                                li
                                    a.button(href="generic.html") Learn more
                section
                    a.image(href="#" class="img-a-applications")
                        //- img(src=require("../media/images/applications.jpg") alt="" data-position="25% 25%")
                    .content
                        .inner
                            h2 Desktop and Mobile Software
                            p
                                | We architect, build and publish secure and high quality applications for all devices and operating systems.
                                | Our applications can also be used to extend your cloud offering, or provide a great standalone experience.
                            ul.actions
                                li
                                    a.button(href="generic.html") Learn more
            // Two
            section#two.wrapper.style3.fade-up
                .inner
                    h2 What we do
                    p
                        | Vault Garden provides a number of different services to help you build and produce your next software project.
                    .features
                        section
                            span.icon.solid.major.fa-server
                            h3 Web Services
                            p
                                | Cloud-based web services designed with security and scalability in mind, using NodeJS with Typescript/JavaScript.
                        section
                            span.icon.solid.major.fa-sitemap
                            h3 Cloud Infrastructure
                            p
                                | Small to large scale multi-cloud infrastructure-as-code, using Terraform/OpenTofu or Puppet.
                        section
                            span.icon.solid.major.fa-desktop
                            h3 Desktop Applications
                            p
                                | Attractive, secure and reliable desktop applications built with Electron, NodeJS, React and Typescript/JavaScript.
                                | Designed to run on Windows, Mac and Linux. Includes code signing and a release/update pipeline.
                        section
                            span.icon.solid.major.fa-mobile
                            h3 Mobile Applications
                            p
                                | Intuitive and powerful mobile applications for iOS and Android using React Native, Tamagui, Objective-C and Java.
                        section
                            span.icon.solid.major.fa-hammer
                            h3 Websites, Widgets and Web Utilities
                            p
                                | Minimal purpose-built websites, widgets and dashboards for a variety of use-cases.
                                | Custom-built non-graphical utilities connected to custom cloud infrastructure.
                        section
                            span.icon.major.fa-chart-bar
                            h3 Telemetry and Monitoring
                            p
                                | Collect, process and display logs and metrics from any application, at any scale, using Open Telemetry, Prometheus,
                                | OpenSearch, S3 etc.
                        section
                            span.icon.solid.major.fa-user-lock
                            h3 Debugging, Load Testing and Penetration Testing
                            p
                                | Test your stack's stability, reliability and security against our range of techniques designed to expose weaknesses
                                | in your application's design and deployment.
                        section
                            span.icon.solid.major.fa-hat-wizard
                            h3 General Consulting
                            p
                                | Want to discuss an idea, plan a new feature or get help regarding an elusive issue? We're available to talk you through
                                | such scenarios.
                    ul.actions
                        li
                            a.button(href='generic.html') Learn more
            // Three
            section#three.wrapper.style1.fade-up
                .inner
                    h2 Get in touch
                    p
                        | Reach out to us for a quote or a chat, or find us on various media.
                    .split.style1
                        section
                            form(method='post' action='#')
                                .fields
                                    .field.half
                                        label(for='name') Name
                                        input#name(type='text' name='name')
                                    .field.half
                                        label(for='email') Email
                                        input#email(type='text' name='email')
                                    .field
                                        label(for='message') Message
                                        textarea#message(name='message' rows='5')
                                ul.actions
                                    li
                                        a.button.submit(href='') Send Message
                        section
                            ul.contact
                                li
                                    h3 Address
                                    span
                                        | 60° 9' 0.3168" N
                                        br
                                        | 24° 39' 19.8072" E
                                li
                                    h3 Social
                                    ul.icons
                                        li
                                            a.icon.brands.fa-github(href="https://github.com/perry-mitchell")
                                                span.label GitHub
                                        li
                                            a.icon.brands.fa-linkedin-in(href="https://www.linkedin.com/company/vault-garden/")
                                                span.label LinkedIn
                                        li
                                            a.icon.brands.fa-mastodon(href="https://infosec.exchange/@buttercup")
                                                span.label Mastodon
                                        li
                                            a.icon.brands.fa-keybase(href="https://keybase.io/team/bcup")
                                                span.label Keybase


        footer#footer.wrapper.style1-alt
            .inner
                ul.menu
                    li &copy; Vault Garden Oy. All rights reserved.
                    li
                        | Src:&nbsp;
                        a(href="https://github.com/perry-mitchell/vault-garden" target="_blank") GitHub
                    block footer


        script(src=require("../3rdparty/jquery.min.js"))
        script(src=require("../3rdparty/jquery.scrollex.min.js"))
        script(src=require("../3rdparty/jquery.scrolly.min.js"))
        script(src=require("../3rdparty/browser.min.js"))
        script(src=require("../3rdparty/breakpoints.min.js"))
        script(src=require("../3rdparty/util.js"))
        script(src=require("../3rdparty/main.js"))
